@import "tailwindcss";

html {
  scroll-behavior: auto;
}

body {
  background: #000;
  color: #fff;
  cursor: none;
}

a,
button {
  cursor: none;
}

img {
  display: block;
}

::selection {
  background: white;
  color: black;
}